.Border_radius{
    border-radius: 50px 50px 0 0;
}
.Title{
    font-family: "Mulish", sans-serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 60px;
    color: #000000;
}
.work_line{
    width: 100%;
    margin-bottom: 25px;
}

.mini_boxs{
    gap: 65px;
    margin-bottom: 130px;
}
.mini_box{
    width: 280px;
}
.mini_box_title{
    font-family: "Mulish", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    color: #18162D;
}
.mini_box_text{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #18162DB2;
}

.container-fluid{
    padding: 0;
    background-color: #3579F4;
}
.car_img{
    width: 100%;
    margin-top: 70px;
}
.contact_us{
    padding: 100px 0 130px;
}
.contact_title{
    font-family: "Mulish", sans-serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 58px;
    color: #ffffff;
    width: max-content;
}
.contact_text{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
    width: 300px;
}
.name, .phone_number{
    width: 400px;
    height: 60px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #5591FF;
}
input::placeholder{
    color: #ffffff;
}
textarea::placeholder{
    color: #ffffff;
}
.text_message{
    width: 400px;
    height: 100px;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #5591FF;
}
.name:focus-visible, .phone_number:focus-visible, .Block:focus-visible{
    outline: none;
}
.Block{
    display: block;
}
.checkbox_link{
    display: flex;
}
.checkbox{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.text_link{
    color: rgba(255, 255, 255, 0.8);
}
.link_text a{
    margin-left: 6px;
    color: rgba(255, 255, 255, 0.8);
}
.send_message{
    width: 400px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #F0F0FA;
}
.send_message_link{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #8C8C8C;
    text-decoration: none;
}